
.home-content-wrapper{
	background-image:uri('../images/home.jpg');
	background-size:cover;
	height:100px;
}
.overlay-box{
	padding:200px 0px;
	box-sizing:border-box;
	background:rgba(0, 0, 0, 0.5);

}

.custom-nav{
	color:#e3790f;
	font-weight: 700;
	margin-left:55px;
}


.custom-nvbar{
	background-color: #0c0d0efa!important;
}


.custom-box{
	color:#fff;
	font-size:75px;
	font-family:raleway-bold;
	line-height:90px;
	background-color: #0c0d0efa!important;
}

.welcome-text{
	color:#fff;
	font-size:75px;
	font-family:raleway-bold;
	line-height:90px;	
	
}

.slider-picture{
	height:600px;
}

.lg-btn {
	color: black;
	background-color:#e3790f;
	border-color: #e3790f;
	margin-left:10px;
}

.lg-btn:hover {
	color: #e3790f;
  background-color: black;
  border-color: black;
}

.table_hdrs{
	text-align:center;
}

.header-box{
	color: #e3790f;
  background-color: black;
}

.welcome-box{
	color: #e3790f;
  background-color: #000000d4;
}

.drivers-box{
	color: #d49659e8;
  background-color: #15100ceb;
}

.team-drivers-box{
	color: #131110e8;
    background-color: #ef6d04;
    border-radius: 20px;
}

.table{
	color: #d49659e8;
	margin: auto;
    width: 50% !important;
}

.table-standings{
	color: #d49659e8;
	margin: auto;
    width: 50% !important;
}

.teamname{
 color:black;
}

.nat-flag{
	max-width: 50px;
    max-height: 150px;
    border-radius: 30%;
}
.dd-nat-flag{
	max-width: 20px;
    max-height: 50px;
    border-radius: 30%;
}

.team-logo{
	max-width: 140px;
    max-height: 50px;
}

.teamlogo {
	width: 450px;
    height: 90px;
}        
.my-cl{
    	font-size:20px;
}   
      	
.container-teams{
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
}     

.listing-team-drivers{
	    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.listing-info{
	display: grid;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;  
}

.custom-wrapper{
	margin-bottom:20px;
	background-color: #e0dbd817;
	border-radius: 20px;
	
}

.form-new-driver{
	max-width: 50%;
    padding: 15px;
    margin: 0 auto;
}

.drow-downs-custom{
	margin-bottom:20px;
}	
  	
         